html, body {border: 0; margin: 0; padding: 0;}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {background-color:gray; }
.box{
    margin-top: 100px;
    margin-left: 200px;
    width: 400px;
    height: 400px;
    float: left;
    overflow: hidden;
    position: relative; 
    text-align: center; 
    border: 4px solid #fff;
}
.box .textdiv{
    position: absolute; 
    opacity: 1;
    background-color: white; 
    color: #111111;
    opacity: 0;
    width: 30%;
    height: 100%;
    transition: 0.6s;
    z-index: 100;
    left: -30%;
}
.box img{
    box-sizing: border-box;
    width: 390px;
    height: 390px;
    transition: 0.6s;
}
.box:hover img{
    transform: translateX(30%);
    opacity: 1;
}
.box:hover .textdiv{
    opacity: 1;
    transform: none;
    background-color: white;
    transform: translateX(100%);
}
h3{
    font-size: 20px;
    margin-top: 30%;
    margin-bottom: 15px;
    display: none;
}

.textdiv div{
    font-weight: 300; 
    font-size: 14px; 
    display: none;
}
.box:hover h3{
    display: block;
}
.box:hover .textdiv div{
    display: block;
}
