body{
    background: url("img.jpg");
    background-repeat: repeat-y;
    background-size: 700px 600px;
    background-position: 50% 0 ;
    height: 2000px;
}
#gotop{
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
}
#gotop img{
    width: 80px;
    height: 200px;
}
#gotop img:hover{
    cursor: pointer;
}